@font-face {
    font-family: 'lexend_deca';
    src: url('lexenddeca-regular-webfont.woff2') format('woff2'),
         url('lexenddeca-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'lexend_deca';
}

.navbar {
  background: none;
}

.navbar-nav {
  text-align: center;
}

.navbar-brand {
  font-size: 1.5vw;
}

.nav-link {
  font-size: 1.5vw;
}

.parts {
  height: 100vh;
}

.header {
  text-align: left;
}

.intro {
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 35vh;
}

.intro h1 {
  font-size: 65px;
  color: black;
}

.intro p {
  font-size: 30px;
  align-items: left;
  color: black;
}

@media (max-width: 980px) {
  .intro {
    padding-top: 20vh;
  }

  .intro h1 {
    font-size: 50px;
  }

  .intro p {
    font-size: 25px;
  }

  .navbar-brand {
    font-size: 20px;
  }

  .nav-link {
    font-size: 20px;
  }
}

/**
-- CIRCLES --
*/

.circ {
  z-index: -1;
  border-radius: 50%;
}

.circle-1 {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 1071px;
  top: -51px;
  background: #F2F2F2;
}

.circle-2 {
  position: absolute;
  width: 375px;
  height: 375px;
  left: 868px;
  top: -100px;
  background: #FFC4C4;
}

.circle-3 {
  position: absolute;
  width: 700px;
  height: 700px;
  left: -146px;
  top: 320px;
  background: #F8FFE6;
}
